.calendar{
	width:1000px;
	margin: 30px auto;
}

.calendar table{
	width: 100%;
	margin: 0px 50px;
}

/*년월일 표시*/
.calendar table thead tr:first-child th{
	font-size: 1.5em;
	padding-bottom: 15px;
}
.calendar a{
	text-decoration: none;
	color:black;
}

/* 토,일 요일 색 칠하기*/
.calendar table thead tr:last-child th:first-child, .calendar table td:first-child{
	color: red;
}
.calendar table thead tr:last-child th:nth-child(7), .calendar table td:nth-child(7){
	color: blue;
}


/*테두리 부분*/
.calendar table thead tr:last-child th, .calendar table tbody td{
	width : 140px;
	border:solid black 1px;
	padding:5px 10px;
}

/* 바디 부분*/
.calendar table tbody td{
	vertical-align: top;
	height:90px;
}

.calendar table tbody p{
	margin: 0px;
}
.calendar table tbody a{
	float: right;
}

.calendar .editCalendar{
	float: right;
	padding-right: 50px;
}