.board table{
	width:950px;
	margin: 30px auto;
	border-collapse: collapse;
}

.board td, .board th{
	border:solid black 1px;	
	text-align: center;
}

.board th:first-child, .board td:first-child{
	border-left: none;
}

.board th:last-child, .board td:last-child{
	border-right: none;
}

.board .align-left{
	text-align: left;
	padding-left: 10px;
}