.board table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}

.board td, .board th{
	border:solid black 1px;	
	text-align: center;
}

.board th:first-child, .board td:first-child{
	border-left: none;
}

.board th:last-child, .board td:last-child{
	border-right: none;
}

.board tr:nth-child(even){
	background: #ddd;
}

.board .align-left{
	text-align: left;
	padding-left: 10px;
}