.header{
	width: 1000px;
	margin:10px auto;
	text-align: right;
}
.header a{
	color: black;
	text-decoration: none;
}

.nav {
	width:100%;
	background-color: gray;
	border-radius: 30px;
	text-align: left;
}

.nav *{
	display: inline-block;
}


.nav ul{
	margin: 0px;
}
.nav ul li{
	line-height: 50px;
	vertical-align: middle;
	list-style: none;
}	

.nav li:not(:last-child):not(.nav-icon){
	border-style: solid;
	border-color: white;
	border-width: 0px;
	border-right-width: 2px;
}

.nav .nav-icon{
	margin-right: 30px;
}
.nav .nav-icon img{
	height:47px;
	width:auto;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

.nav  li a{
	width: auto;
	height : 100%;
	color: black;
	text-decoration: none;

	padding: 0px 20px;
}
.nav li:hover:not(.nav-icon) a{
	background-color: #900;
}